<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
        </ion-buttons>
        <ion-title>New Offer</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onCreateOffer()" [disabled]="!form.valid">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Title</ion-label>
                        <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Short description</ion-label>
                        <ion-textarea rows="3" formControlName="description"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
                <ion-col size-sm="6" offset-sm="3">
                    <p>Description must be between 1 and 180 charcaters.</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Price</ion-label>
                        <ion-input type="number" formControlName="price"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="3" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Available from</ion-label>
                        <ion-datetime min="2019-01-01" max="2025-12-31" formControlName="dateFrom"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col size-sm="3" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Available to</ion-label>
                        <ion-datetime min="2019-01-02" max="2025-12-31" formControlName="dateTo"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <!--    <ion-grid fixed>-->
    <!--        <ion-row class="ion-align-items-center ion-justify-content-end">-->
    <!--            <ion-col size-sm="4" size-md="2" offset-sm="2" offset-md="2">Row 1 Col 1</ion-col>-->
    <!--            <ion-col size-sm="4" size-md="3">-->
    <!--                <ion-card>-->
    <!--                    <ion-card-content>-->
    <!--                        <h1>column </h1>-->
    <!--                        <p>Row 1 col 2</p>-->
    <!--                    </ion-card-content>-->
    <!--                </ion-card>-->

    <!--            </ion-col>-->
    <!--        </ion-row>-->
    <!--        <ion-row>-->
    <!--            <ion-col>-->
    <!--                row 2 col 1-->
    <!--            </ion-col>-->
    <!--            <ion-col>-->
    <!--                row 2 col 2-->
    <!--            </ion-col>-->
    <!--        </ion-row>-->
    <!--    </ion-grid>-->
</ion-content>
